node_modules
dist
dist-ssr
*.local
.vite

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea

# Local Netlify folder
.netlify

# Local logs / temp
*.log

# TS incremental build cache
tsconfig.tsbuildinfo
